* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin:0 auto;
  padding:0;
  max-width: 600px;
}

main {
  margin:0 auto;
  padding:0;
  max-width: 600px;
  margin-top:10%;
}

h1, legend, h2, .js-bookmark-list, .js-filter-fields{
  text-align: center;
}

.js-create-field, .js-submit-fields{
  margin: 0 auto; 
  text-align: center;   
}

label, legend {
  font: bold; 
}


li {
  list-style: none;
}

.fa fa star{
  color: orange; 
}

.error-content {
  position: fixed;
  top: 15px;
  right: 20px;
  border: 2px solid red;
  background-color: lightsalmon;
}

.error-content p {
  margin-top: 1px;
  padding: 7px;
}

.error-content button {
  font-size: 6pt;
  background-color: red;
  color: white;
  position: relative;
  left: 80%;
}